<div style="text-align: center;">
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <!--page_obj={{ page_obj }}<br>-->
            <!--page_obj.object_list={{ page_obj.object_list }}<br>-->
            <!--page_obj.previous_page_number={{ page_obj.previous_page_number }}<br>-->
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <!--loop over all of the pages in the paginator-->
        <!--page_obj.paginator.page_range={{ page_obj.paginator.page_range }}<br>-->
        {% for num in paginator.page_range %}
            <!--page_obj.number={{ page_obj.number }}-->
            {% if page_obj.number == num %}
                <!-- check if our current page number is equal to the num that we're currently on through this loop -->
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
</div>